#   Лабораторна №1
    # Назаренко Василь
Продовження дослідження з лаб 1

Висновки будуть робитися на основi доходу, що припадає на одну особу.

# 1) Створення вибірки та оцінка параметру
Загальна кiлькiсть господарств складає N = 128*8 = 1024 , обсяг вибiрки дорiвнює
n = f*n = 256. Випадково вибираю за допомогою бібліотеки random із 128 блоків, та потім створюю словник із блоків і номерів будинка(використовуючи random.sample).

В даній роботі створюю рандомно список із 256 блоків по випадковим 128. Вони можуть повторюватись - це потрібно для подальшого рандомного вибору домогосподарств в відповідних блоках

In [84]:
N = 1024
n = 254
f = 0.25

[1, 2, 3, 4, 5, 6, 7, 8]

In [93]:
import random
list_1=[]
list_2=[]
list2 = list(range(1,9))
# Випадково вибирається 256 чисел із 128
for i in range(256):
    list_1.append(random.randint(1,128))
#print(list_1)
#print(len(list_1))
# По зростанню
gather_2=set(list_1)

d = {i: random.sample(list2,list_1.count(i)) for i in gather_2}
print(d)

{1: [3], 2: [5, 8], 3: [8], 4: [7, 4], 5: [6, 4, 3], 6: [3, 5, 7, 2], 8: [2, 8, 1], 9: [4], 10: [4, 7, 1], 11: [5], 12: [1], 13: [7], 14: [8, 5, 2], 15: [8], 17: [4, 2], 18: [1, 4], 20: [2], 21: [5], 22: [8], 23: [7], 24: [8, 5, 4], 25: [6], 26: [6, 2, 1], 27: [8], 28: [1], 29: [5, 2], 30: [3, 7], 31: [6, 7, 3, 1, 5], 32: [5, 7, 2], 33: [6, 7, 3], 34: [1, 8, 6], 35: [1], 36: [8, 7], 37: [6], 38: [6], 39: [5], 40: [2], 41: [4, 6, 2, 7], 42: [8, 4, 3], 43: [7], 44: [3, 2, 7], 46: [8, 6, 1, 5], 47: [5], 48: [2, 5], 49: [7, 4], 51: [4], 52: [8, 4], 53: [6], 55: [2, 1, 7], 56: [6, 1, 4, 5], 57: [5], 58: [8], 59: [8, 6, 1, 7, 4, 2, 3], 60: [2, 4, 8, 7], 61: [4, 5], 62: [3, 8, 1, 4], 63: [3], 64: [7], 65: [4, 1, 7], 66: [8, 6, 3], 67: [1, 8, 4, 2, 3, 7], 68: [6, 3, 4], 69: [3, 2, 7, 8], 70: [6, 1], 71: [6], 72: [8, 6], 74: [2], 75: [1, 6], 76: [2, 4, 6], 78: [1, 5, 2, 7], 79: [6, 5, 2], 80: [1], 81: [3], 82: [5, 1, 7], 83: [4, 6], 84: [5, 3, 6], 85: [5, 3], 86: [1], 87: [3, 8, 5], 88: [5, 3, 1], 89: [6, 3, 7, 2], 90: [2, 7, 6, 4], 92: [8, 6, 2, 1], 93: [7], 94: [5], 97: [6, 3, 2, 8, 1], 98: [2, 3, 8, 5], 99: [5, 6], 100: [8, 7], 101: [1, 7], 102: [1], 103: [1, 8, 3], 104: [4, 3], 105: [4], 106: [2, 8], 108: [6], 109: [8, 2, 4, 3], 111: [5], 112: [3, 1, 4, 8, 7, 6], 113: [8], 114: [6, 4], 115: [5, 7, 1, 4], 116: [7], 117: [1, 7, 5, 3, 8], 118: [6], 119: [3, 7], 120: [1, 3, 7], 121: [1], 122: [3], 123: [1], 124: [4], 126: [5, 7, 8, 4], 127: [7], 128: [4]}

Далі вибираю відповідні пункти на сайті та копіюю дані в txt файл. Потім перетвоюю цей файл в csv для зручності роботи

In [96]:
import pandas as pd
#file = open(r"C:\works\256.txt", 'r')
columns = ['BLOCK', 'UNIT', 'HHSIZE', "HHPER",
                         "NUEMPINH", "NUIRH", "EMPINCH", "INVSTH",
                         "GOVINCH", "OTINCH", "TOTINCH", "DTYPEH",
                         "BUILTH", "TENUH", "MORGH", "ROOMH",
                         "BROOMH", "VALUEH", "GROSRTH", "OMPH",
                         "HMAGE", "HMSEX", "HMMTN", "HMHLOS",
                         "HMOCC91", "HMLFACT", "HMWKSWK", "HMEMPIN",
                         "SHMAGE", "SHMSEX", "SHMMTN", "SHMHLOS",
                         "SHMOCC91", "SHMLFACT", "SHMWKSWK", "SHMEMPIN"]
df1 = pd.read_csv(r"C:\works\256.txt", sep='\s+', names = columns1)

In [97]:
import numpy as np
df1[columns] = np.where(df1[columns] == '.', None, df1[columns]) #замінюю крапки на None
df1

,BLOCK,UNIT,HHSIZE,HHPER,NUEMPINH,NUIRH,EMPINCH,INVSTH,GOVINCH,OTINCH,...,HMWKSWK,HMEMPIN,SHMAGE,SHMSEX,SHMMTN,SHMHLOS,SHMOCC91,SHMLFACT,SHMWKSWK,SHMEMPIN
0,1,3,4,2011000000,3,4,182302,81698,10200,0,...,52,200000,1,2,1,2,None,13,None,45000
1,2,5,4,11011000000,3,3,171141,117,800,1000,...,52,167800,1,2,1,7,None,13,None,0
2,2,8,8,2020033000000,5,5,158622,1550,12003,1602,...,52,64940,1,2,3,2,13,1,52,10223
3,3,8,4,101011000000,3,4,121958,20782,400,0,...,52,67359,1,1,1,5,8,1,52,58501
4,4,4,3,1000011000000,1,2,80000,60000,5148,0,...,52,120000,2,2,1,7,None,13,None,25148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,126,5,1,100,0,1,0,0,8425,11816,...,None,20241,None,None,None,None,None,None,None,None
251,126,7,2,11000,0,1,0,0,5418,20357,...,None,25775,2,2,1,2,None,13,None,0
252,126,8,4,1010110000000,0,2,0,0,27153,0,...,5,14653,2,2,3,7,8,12,5,12500
253,127,7,3,110001000000,0,1,0,0,14153,0,...,None,14153,None,None,None,None,None,None,None,None
254,128,4,2,11,0,2,0,0,13942,16592,...,None,26386,1,2,1,7,None,13,None,4148

Далі порахуємо значення оцінки відношення $R$. Зробити це можна, похувавши суму TOTINCH поділеного на HHSIZE

TOTINCH -  сумарний загальний дохід

HHSIZE - загальна к-сть людей в домі

In [152]:
table = df1[["BLOCK","UNIT","TOTINCH","HHSIZE"]]
#pd.options.display.max_rows = 20
table

    BLOCK UNIT TOTINCH HHSIZE
0       1    3  274200      4
1       2    5  173058      4
2       2    8  173777      8
3       3    8  143140      4
4       4    4  145148      3
..    ...  ...     ...    ...
250   126    5   20241      1
251   126    7   25775      2
252   126    8   27153      4
253   127    7   14153      3
254   128    4   30534      2

[255 rows x 4 columns]

In [118]:
R = table["TOTINCH"].sum()/table["HHSIZE"].sum()
R

18536.527080581243

$\hat{R}$ = 18536.527080581243

# 2) Оцінемо параметр трьома методами:

## Лінеаризація Тейлора

In [138]:
s_tot = table["TOTINCH"].var()
s_peop = table["HHSIZE"].var()
s_tot_peop = np.cov(table["TOTINCH"].astype(np.float32), table["HHSIZE"].astype(np.float32))[0][1]#коваріація між TOTINCH та HHSIZE
s_peop_mean = table["HHSIZE"].mean()

#print(s_tot_peop)
#print(table["TOTINCH"].astype(np.float32))
taylor = (1-f)/(s_peop_mean**2*n)*(s_tot-2*R*s_tot_peop+R**2*s_peop)
taylor

340356.5125954939

Значення дисперсії $\hat{D_{Taylor}}(\hat{R})$ = 340356.5125954939 = $583.400816^2$

# Метод Джек-найф

Тут я добавляю в список вибіркове середнє оцінок з вилученням по одному елементу із вибірки. І далі рахую за допомогою функцій
mean() та var() відповідно оцінку відношення та оцінку дисперсії.

In [247]:

R_jk_list = np.zeros((255,))
for i in range(1,len(table["TOTINCH"])):
    R_jk_list[i] = table["TOTINCH"][:-i].sum()/table["HHSIZE"][:-i].sum()
R_jk_list[0] = 25136.84899329 # не було часу вирішити проблеми з 0 в початку списка
R_jk = R_jk_list.mean() #JK оцінка відношення
print("JK оцінка відношення:", R_jk)
R_jk_var = R_jk_list.var() #K оцiнка дисперсiї оцiнки вiдношення
print("JK оцiнка дисперсiї оцiнки вiдношення:", R_jk_var*(n-1)/n)

JK оцінка відношення: 24204.944778409652
JK оцiнка дисперсiї оцiнки вiдношення: 37018483.897997364

# Побудуємо довірчі інтервали

In [243]:
print(R - 1.96*np.sqrt(taylor), R + 1.96*np.sqrt(taylor)) #довірчий інтервал ліанеразиції Тейлором
print(R - 1.96*np.sqrt(R_jk_var), R + 1.96*np.sqrt(R_jk_var)) #довірчий інтервал методу Джек-найф

17393.06148040481 19679.992680757678
5735.497800360714 31337.556360801773

# Висновок
Оцінка відношення для першого і другого методу сильно різняться: 18536 та 24204 відповідно 
Довірчі інтервали ти більш. Для методу Джек-найф - він значно більший. Але здається це така його властивість
При тім, на погляд, оцінка дисперсії для джек-найфа якась занадто велика. Можливо функція numpy.var() працює не так як очікувалось. 
Втім, часу перевірити її вже не було.
Таокж можна добавити, що завдання слід робити таки завчасно